<h1>Artists</h1> <h5>create an index of your fav artists</h5>


<div>
  <%= link_to "New Artist", new_artist_path %>
</div>

 <div class="artists">
  <% @artists.each do |artist| %>
    <div class="artist">
      <h3><%= link_to artist.name, artist_path(artist) %></h3>
      <p><%= artist.description %></p>
      <ul class="artist-actions">
        <li><%= link_to "Edit", edit_artist_path(artist) %></li>
        <li><%= link_to "Delete", artist_path(artist), data: {
          confirm: "Are you sure you want to delete: #{artist.name}?",
        }, method: :delete %></li>
      </ul>
    </div>
  <% end %>
</div>
