<!DOCTYPE html>
<html lang="en">
<head>
  <title>MusicSearcher</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

  <header class="container">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
      </div>

    <% if signed_in? %>
    Signed in as: <%= current_user.email %>
    <%= button_to 'Sign out', sign_out_path, method: :delete, class: "btn btn-primary" %>
    <% else %>
    <%= link_to 'Sign in', sign_in_path, class: "btn btn-primary" %>
    <% end %>
  </header>
  <section class="container">
    <div id="flash">
      <% flash.each do |key, value| %>
      <div class="flash alert <%= alert_class(key) %>"><%= value %></div>
      <% end %>

    </div>


    <body>
      <%= yield %>
    </section>
  </body>
  </html>
